html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #FFF;
  z-index: -1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.blue-font {
  color: #39B0FF;
}

p {
  font-size: 12px;
}

.hidden {
  display: none;
  opacity: 100%;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.blob {
  position: absolute;
  top: 0;
}

.b-1 {
  width: 384px;
  height: 393px;
  left: -150px;
  top: 876px;
  z-index: -1;
}

.b-2 {
  width: 582.82px;
  height: 646.41px;
  right: 0px;
  top: 1607px;
  z-index: -1;
}

.b-3 {
  width: 335px;
  height: 296px;
  left: -67px;
  top: 2539px;
  z-index: -1;
}

.b-4 {
  width: 200px;
  height: 508px;
  right: 0px;
  top: 3154px;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .b-1 {
    width: 600px;
    top: 453px;
    left: 300px;
  }
  .b-2 {
    top: 1007px;
    width: 100%;
    right: 20px;
  }
  .b-3 {
    top: 1539px;
  }
  .b-4 {
    top: 2254px;
    right: 100px;
    width: 650px;
  }
}

.navbar {
  display: inline-block;
  width: 100%;
}

.navbar .navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 130;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.navbar #burgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .burger-menu {
  margin: auto 0;
  cursor: pointer;
  width: 25px;
}

.navbar .close-menu {
  margin: auto 0;
  cursor: pointer;
  width: 25px;
}

.navbar nav {
  position: relative;
}

.navbar ul {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 20px 0;
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 30vh;
  z-index: 120;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  color: black;
  text-decoration: none;
}

.navbar li .btn {
  display: inline-block;
  width: 130px;
  height: 32px;
  border-radius: 10px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#A2DAFF), color-stop(67.71%, #0099FE));
  background: linear-gradient(180deg, #A2DAFF 0%, #0099FE 67.71%);
  -webkit-box-shadow: 0px 6px 14px 1px #A2DAFF;
          box-shadow: 0px 6px 14px 1px #A2DAFF;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .navbar .navbar2 {
    display: inline;
    width: auto;
  }
  .navbar .navbar2 h2 {
    display: inline-block;
    width: 200px;
  }
  .navbar #burgerMenu {
    display: none;
  }
  .navbar nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 650px;
  }
  .navbar ul {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    height: auto;
    margin: auto 0 auto auto;
  }
  .navbar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
  }
  .navbar li a {
    margin: auto;
  }
  .navbar li .btn {
    width: 100%;
  }
  .navbar li:last-child {
    width: 190px;
    height: 50px;
  }
  .navbar li:last-child .btn {
    margin: auto 10px;
  }
}

.header-section .main-pic {
  width: 300px;
}

.header-section .personal-description {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.header-section .personal-description h1, .header-section .personal-description h2 {
  font-style: bold;
}

.header-section .personal-description h1 {
  color: #39B0FF;
}

.header-section .personal-description .hand-wave {
  position: relative;
  top: 8px;
}

@media only screen and (min-width: 768px) {
  .header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    width: 70%;
  }
  .header-section .personal-description {
    width: 50%;
    margin: auto 0;
  }
  .header-section .personal-description h2 {
    font-size: 36px;
  }
  .header-section .personal-description h1 {
    font-size: 46px;
  }
  .header-section .personal-description p {
    font-size: 18px;
  }
  .header-section .personal-description .hand-wave {
    width: 52px;
  }
  .header-section .main-pic {
    width: 400px;
  }
}

.tech-stack-section {
  margin-top: 90px;
  padding-top: 10px;
  z-index: 20;
}

.tech-stack-section .tech-list {
  display: inline-block;
  width: 260px;
}

.tech-stack-section .tech-list .tech-block {
  display: inline-block;
  position: relative;
  width: 260px;
  height: 260px;
  -webkit-box-shadow: 5px 7px 25px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 7px 25px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 70px;
  background-color: white;
}

.tech-stack-section .tech-list .tech-block .tech-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 60px 60px 60px;
      grid-template-rows: 60px 60px 60px;
}

.tech-stack-section .tech-list .tech-block .tech-grid .tech-icon {
  margin: auto;
}

.tech-stack-section .tech-list .tech-block h3 {
  position: relative;
  z-index: 30;
}

.tech-stack-section .tech-list .tech-block .title-underline {
  position: absolute;
  top: 1.8rem;
  right: 2.7rem;
  z-index: 25;
}

@media only screen and (min-width: 768px) {
  .tech-stack-section h2 {
    display: inline-block;
    margin: auto;
    width: 70%;
    text-align: left;
  }
  .tech-stack-section .tech-list {
    margin: auto;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-section {
  margin-top: 100px;
  display: inline-block;
  width: 310px;
}

.portfolio-section .portfolio-block {
  margin: 70px 0;
}

.portfolio-section .portfolio-img {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 7px 25px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 7px 25px 1px rgba(0, 0, 0, 0.25);
}

.portfolio-section .si-hidayah {
  background: no-repeat center/150% url("../assets/img/si-hidayah-report.png");
}

.portfolio-section .simon-game {
  background: no-repeat top/145% url("../assets/img/simon-game-snip.jpg");
}

.portfolio-section .simple-ecommerce {
  background: no-repeat left/150% url("../assets/img/simple-e-commerce.png");
}

.portfolio-section h3 {
  font-style: bold;
}

.portfolio-section .portfolio-description {
  text-align: left;
}

.portfolio-section .portfolio-description p {
  margin: 2px;
}

.portfolio-section .portfolio-description p:last-child {
  margin-bottom: 12px;
}

.portfolio-section .portfolio-description .the-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.portfolio-section .portfolio-description .btn {
  display: inline-block;
  width: 130px;
  height: 32px;
  border-radius: 10px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.portfolio-section .portfolio-description .live-demo {
  color: white;
  background-color: #39B0FF;
  border: 2px solid #39B0FF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-section .portfolio-description .live-demo:hover {
  color: #39B0FF;
  background-color: white;
  border: 2px solid #39B0FF;
}

.portfolio-section .portfolio-description .view-code {
  color: #39B0FF;
  border: 2px solid #39B0FF;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-section .portfolio-description .view-code:hover {
  color: white;
  background-color: #39B0FF;
  border: 'none';
  border: 2px solid #39B0FF;
}

@media only screen and (min-width: 768px) {
  .portfolio-section {
    width: 100%;
  }
  .portfolio-section h2 {
    display: inline-block;
    margin: auto;
    width: 70%;
    text-align: left;
  }
  .portfolio-section .portfolio-list {
    width: 85%;
    margin-left: auto;
  }
  .portfolio-section .portfolio-list .portfolio-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio-section .portfolio-list .portfolio-block .portfolio-description {
    margin: auto 0;
  }
  .portfolio-section .portfolio-list .portfolio-block .the-btn {
    width: 300px;
  }
  .portfolio-section .portfolio-list .portfolio-block .portfolio-img {
    height: 300px;
    width: 500px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.contact-me-section {
  margin-top: 60px;
}

.contact-me-section .form-box {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.contact-me-section .form-box h2 {
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 30px;
}

.contact-me-section .form-box label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  color: #0064A7;
}

.contact-me-section .form-box input {
  width: 300px;
  border: 1px solid #72C7FF;
  padding: 5px;
}

.contact-me-section .form-box textarea {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  width: 300px;
  resize: none;
  border: 1px solid #72C7FF;
}

.contact-me-section .form-box input:focus, .contact-me-section .form-box textarea:focus {
  outline: none !important;
  border-color: #39B0FF;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
  caret-color: #39B0FF;
}

.contact-me-section .form-box button {
  display: block;
  width: 130px;
  height: 32px;
  border-radius: 10px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#A2DAFF), color-stop(67.71%, #0099FE));
  background: linear-gradient(180deg, #A2DAFF 0%, #0099FE 67.71%);
  -webkit-box-shadow: 0px 6px 14px 1px #A2DAFF;
          box-shadow: 0px 6px 14px 1px #A2DAFF;
  margin: 10px 0;
}

.contact-me-section .form-box button:hover {
  cursor: pointer;
}

.contact-me-section .form-box .thankyou_message {
  visibility: hidden;
  color: green;
}

.contact-me-section .form-box .thankyou_message h3 {
  margin-bottom: 0;
}

.contact-me-section .form-box .thankyou_message p {
  font-size: 16px;
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .contact-me-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: auto;
  }
  .contact-me-section .form-box {
    width: 700px;
  }
  .contact-me-section h2 {
    display: inline-block;
    margin: auto;
    width: 70%;
    text-align: left;
  }
}

.footer-section {
  margin-top: 100px;
  padding: 23px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #72C7FF;
}

.footer-section p {
  margin: 0;
}

.footer-section .footer-link h3 {
  margin: 0;
  color: white;
  font-size: 24px;
}

.footer-section .footer-link a {
  display: block;
  color: #0064A7;
  text-decoration: none;
  margin: 10px 0;
  font-weight: 600;
}

.footer-section .footer-copyright {
  color: #0064A7;
  font-size: 18px;
}

.footer-section .footer-copyright p {
  margin: 5px 0;
}

.footer-section .footer-copyright .hidden {
  display: none;
  width: 10px;
}

@media only screen and (min-width: 768px) {
  .footer-section {
    padding: 15px 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-section .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-section .footer-link h3 {
    margin-right: auto;
  }
  .footer-section .footer-link a {
    margin: auto;
  }
  .footer-section .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-section .footer-copyright p {
    margin: auto;
  }
  .footer-section .footer-copyright .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */